/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
html {
  font-size: 62.5%;
}
.pics {
  display: block;
  border: 0;
}
.main-navigation {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  font-size: 1.6rem;
  padding: 40px 0 25px 0;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
}
@media ( max-width: 500px ) {
  .main-navigation {
    flex-direction: column;
    text-align: center;
    font-size: 2.9rem;
    padding: 0;
  }
}
.main-navigation a {
  text-decoration: none;
  color: grey;
  font-family: 'Raleway', sans-serif;
}
@media ( max-width: 500px ) {
  .main-navigation a:hover {
    background-color: #dedede;
    color: grey;
  }
}
footer {
  margin-top: 182px;
  padding-bottom: 35px;
  border: solid #404040 3px;
  background-color: #5f5f5f;
}
@media ( max-width: 500px ) {
  footer {
    margin-top: 671px;
  }
}
footer p {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 85px;
  font-family: 'Raleway', sans-serif;
  color: lightgrey;
}
footer .go-back {
  text-align: center;
  padding-top: 40px;
  font-size: 3rem;
}
footer .go-back p {
  margin-top: 20px;
  font-size: 3rem;
  color: white;
}
footer .go-back .hover-effect {
  text-decoration: none;
  color: white;
}
footer .go-back .hover-effect:hover {
  border: solid white 3px;
  padding: 10px 10px 5px 10px;
}
.icon-bar {
  position: fixed;
  top: 20%;
  left: 3%;
  display: flex;
  flex-direction: column;
  z-index: 999;
}
.icon-bar .facebook {
  background-image: url(../sm_img/facebook.png);
  padding: 16px;
  margin-bottom: 20px;
}
.icon-bar .instagram {
  background-image: url(../sm_img/instagram.png);
  padding: 16px;
  margin-bottom: 20px;
}
.icon-bar .twitter {
  background-image: url(../sm_img/twitter.png);
  padding: 16px;
  margin-bottom: 20px;
}
.icon-bar .youtube {
  background-image: url(../sm_img/youtube.png);
  padding: 16px;
  margin-bottom: 20px;
}
.home .text-over-pic {
  position: relative;
  text-align: center;
  color: white;
  font-size: 3rem;
}
.home .text-over-pic .centered {
  background-color: #292828;
  padding: 2%;
  border-radius: 4px;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 70%);
}
@media ( max-width: 500px ) {
  .home .text-over-pic .centered {
    display: none;
  }
}
.home .text-over-pic .banner {
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.home .intro {
  display: flex;
}
@media ( max-width: 500px ) {
  .home .intro {
    flex-direction: column;
  }
}
.home .intro .intro-section1 .photographer {
  height: 590px;
}
@media ( max-width: 500px ) {
  .home .intro .intro-section1 .photographer {
    width: 100%;
    heigth: 100%;
  }
}
.home .intro .intro-section2 {
  width: 100%;
  height: 590px;
  overflow: auto;
  border: solid black 1px;
}
@media ( max-width: 500px ) {
  .home .intro .intro-section2 {
    width: 100%;
    height: 100%;
  }
}
.home .intro .intro-section2 h2 {
  padding-top: 15px;
  padding-left: 4%;
  font-size: 6rem;
}
.home .intro .intro-section2 p {
  padding: 10px 4%;
  font-family: 'Indie Flower', cursive;
  font-size: 3rem;
  margin: 15px 0;
}
.home .gallary {
  width: 100%;
}
.home .gallary .gallary-section {
  display: flex;
}
.home .gallary .gallary-section .gallery-pics {
  width: 25%;
  height: 25%;
}
.home .gallary .gallary-section .gallery-pics:hover {
  border: 2px solid white;
  opacity: 0.5;
}
.home .scroll-image {
  background-image: url(../img/forest.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;
}
.home .scroll-image .scroll-text {
  font-size: 10rem;
  padding: 100px 5%;
  color: white;
  font-weight: bold;
}
.home .contact {
  width: 100%;
  display: flex;
  height: 300px;
}
@media ( max-width: 500px ) {
  .home .contact {
    flex-direction: column;
  }
}
.home .contact .contact-section {
  width: 50%;
}
@media ( max-width: 500px ) {
  .home .contact .contact-section {
    width: 100%;
  }
}
.home .contact .contact-section .home-vid {
  width: 100%;
  height: 482px;
}
.home .contact .contact-section h2 {
  padding: 10px 4% 0 4%;
  font-size: 6rem;
}
.home .contact .contact-section .form {
  display: flex;
  flex-direction: column;
}
.home .contact .contact-section .form input {
  margin: 10px 4% 10px 4%;
  padding: 5px 1%;
  font-size: 1.6rem;
}
.home .contact .contact-section .form textarea {
  margin: 10px 4% 10px 4%;
  font-size: 1.6rem;
}
.home .contact .contact-section .form .button {
  padding: 8px;
  background-color: #d2fbcd;
  border: solid #4fd04f 3px;
  border-radius: 12px;
  text-align: center;
  font-size: 2.1rem;
  color: #080808;
  margin: 0 32px;
}
.home .contact .contact-section .form .button:hover {
  background-color: #4fd04f;
  color: white;
  border: solid black 3px;
}
